<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.PerformancereportCaseinfoMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.PerformancereportCaseinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="execplanid" jdbcType="BIGINT" property="execplanid" />
    <result column="batchname" jdbcType="VARCHAR" property="batchname" />
    <result column="casename" jdbcType="VARCHAR" property="casename" />
    <result column="slaverid" jdbcType="BIGINT" property="slaverid" />
    <result column="testsceneid" jdbcType="BIGINT" property="testsceneid" />
    <result column="contenttype" jdbcType="VARCHAR" property="contenttype" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>