<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.ApicaseresponesettingMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.Apicaseresponesetting">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="caseid" jdbcType="BIGINT" property="caseid" />
    <result column="descry" jdbcType="VARCHAR" property="descry" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>

  <select id="findDicWithName" resultMap="BaseResultMap">
    SELECT a.*
    FROM apicaseresponesetting a
    <where>
      <if test="caseid != null  and caseid != ''">and a.caseid =#{caseid}</if>
    </where>
  </select>
</mapper>